{% load static %}
<!-- Start Top Search -->
<div class="top-search">
    <div class="container">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
        </div>
    </div>
</div>
<!-- End Top Search -->
{% for rs in lastproducts %}
    <!-- Start Categories category burada content te sidebarda değil -->
    <div class="categories-shop">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{{ rs.image.url }}"  alt="" />
                        <a class="btn hvr-hover" href="/order/addtocart/{{ rs.id }}/{{ rs.slug }}">{{rs.title}} | Sepete Ekle</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Categories -->
{% endfor %}
