{% load static %}
<!-- Start Footer  -->
<footer>
    <div class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-widget">
                        <h4>Hakkımızda Kaysi.com</h4>
                        <p>2020 yılında "En yeni kitapçısı müşterilerine dünya standartlarında kitaplarsunmak" ilkesiyle yola çıkan kaysı.com geçen
                            16 yıllık süreçte Dünya ve Türkiye’ye, en büyük online kitap sitelerinden biri olmayı başarmıştır.
                            44 ilde 44 dağıtım merkezi ve herzaman ücretsiz kargosuyla hayal dünyanızı size sunmak için çalışıyoruz.
                        </p>
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-link">
                        <h4>İnfo:</h4>
                        <ul>
                            <li><a href="/hakkimizda">Hakkımızda</a></li>
                            <li><a href="/iletisim">İletişim</a></li>
                            <li><a href="#">Neredeyiz</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Delivery Information</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-link-contact">
                        <h4>Contact Us</h4>
                        <ul>
                            <li>
                                <p><i class="fas fa-map-marker-alt"></i>ERENKÖY/İstanbul, Aşiyan sokak ,no:78/78<br>KS 67213 </p>
                            </li>
                            <li>
                                <p><i class="fas fa-phone-square"></i>Telefon <a href="tel:+1-888705770">+1-888 705 770</a></p>
                            </li>
                            <li>
                                <p><i class="fas fa-envelope"></i>Email: <a href="mailto:contactinfo@gmail.com">kaysi@kaysi.com</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer  -->
<!-- Start copyright  -->
<div class="footer-copyright">
    <p class="footer-company">All Rights Reserved. &copy; 2020 <a href="#">Kaysı.com</a> Design By : Aylin Kaymaz
        <a href="https://html.design/">html design</a></p>
</div>
<!-- End copyright  -->

<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

<!-- ALL JS FILES -->
<link rel="stylesheet" href="{% static "//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"%}">
  <link rel="stylesheet" href="{% static "/resources/demos/style.css"%}">
  <script src="{% static "https://code.jquery.com/jquery-1.12.4.js"%}"></script>
  <script src="{% static "https://code.jquery.com/ui/1.12.1/jquery-ui.js"%}"></script>
<script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
<script src="{% static "js/popper.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<!-- ALL PLUGINS -->
<script src="{% static "js/jquery.superslides.min.js"%}"></script>
<script src="{% static "js/bootstrap-select.js"%}"></script>
<script src="{% static "js/inewsticker.js"%}"></script>
<script src="{% static "js/bootsnav.js."%}"></script>
<script src="{% static "js/images-loded.min.js" %}"></script>
<script src="{% static "js/isotope.min.js" %}"></script>
<script src="{% static "js/owl.carousel.min.js" %}"></script>
<script src="{% static "js/baguetteBox.min.js" %}"></script>
<script src="{% static "js/form-validator.min.js" %}"></script>
<script src="{% static "js/form-validator.min.js" %}"></script>
<script src="{% static "js/custom.js" %}"></script>