{% extends "homebase.html" %}
{% block title %}Hakkımızda{{setting.title }}{% endblock %}
{% block keywords %}{{setting.keywords }}{% endblock %}
{% block description %}{{setting.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}
{% block sidebar %}{% include "sidebar.html" %}{% endblock %}

{% block content %}
    <!-- Start All BREADCRUMB Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2></h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
                        <li class="breadcrumb-item active">Hakkımızda </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->
    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
                {{ setting.about|safe }}
                <div class="col-lg-6">
                    <h2 class="noo-sh-title">We are <span>kaysı.com</span></h2>
                    <p>"İnsanların zihnen özgürleşmesinin ve kişisel gelişimlerinin en büyük destekçisi olarak en çok sevilen ve tercih edilen deneyim markası olmak."</p>
                    <p>Sınırları kaldıran, özgürleştiren, destekleyen ve cesaretlendiren platform olmak.KAYSI.COM,
                        ilk mağazasını 1997 yılının Mayıs ayında Erenköy'de açtı. Nisan 2019 tarihi itibariyle Türkiye genelinde
                        44 ilde 44 mağazasında KAYSI.COM herkes için bir keşif dünyası sunuyor. Kitaptan müziğe, filmden elektronik ürünlere,
                        oyundan hobiye, hediyelik eşyadan kırtasiyeye kadar geniş bir yelpazede eğlence ve kültür ürünleriyle ziyaretçilerini
                        buluşturan KAYSI.COM, okuyan ve dinleyen bir Türk toplumunun oluşumuna katkıda bulunuyor. Gün geçtikçe sayısı artan
                        mağazalarının yanı sıra KAYSI.COM kültür-eğlence dünyasının yeniliklerini ve müşterilerin tercih ve beklentilerine
                        göre seçtiği ürün ve markaları Türkiye’nin her yerindeki müşterilerine rahat ve keyifli bir alışveriş deneyimiyle ulaştırıyor.
                    </p>
                </div>
                <div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-thumbnail img-fluid" src="images/about-img.jpg" alt="" />
                    </div>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Güvenli İnternet Alışverişi 3D Secure</h3>
                        <p> 3D Secure, elektronik ticaret işlemlerinin güvenliğinin artırılması amacıyla Visa ve MasterCard tarafından geliştirilmiş bir sistemdir.

Verified by Visa® ve MasterCard® SecureCode logoları* bulunan sanal iş yerlerinden yapılan alışverişler Visa ve MasterCard güvencesi altındadır. Bu sayede hem kart sahipleri hem de üye iş yerleri olası sahtekârlıklara karşı güvence altına alınır.

* Visa tarafından verilen hizmetler “Verified by Visa®”; MasterCard® tarafından verilen hizmetler ise “MasterCard® SecureCode” olarak adlandırılmaktadır.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>GO – Güvenli Öde</h3>
                        <p>GO – Güvenli Öde; Troy logolu kartların e-ticaret sitelerinde doğrulama yapılarak işlem gerçekleştirilmesi amacıyla tasarlanmıştır. Kart kullanıcısı iseniz; GO – Güvenli Ödeme ile; e-ticaret sitelerinin ödeme sayfasında kart numarasını girerek “satın al” butonuna bastıktan sonra cep telefonuna gelen SMS ile güvenli işlem yapabilirsiniz. İşyeri iseniz; GO – Güvenli Öde’nin güvenli altyapısı ile; e-ticaret sitelerinde ödemelerinizi “güvenli işlem” olarak kabul edebilirsiniz. GO – Güvenli Öde altyapısı üyelerimiz aracılığıyla işyerlerine sunulduğu için, detaylar hakkında bankanızla görüşebilirsiniz. </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Kart Sahipleri</h3>
                        <p>3D Secure Sistemine kayıt olarak, İnternet üzerindeki tüm alışveriş sitelerinde alışveriş yapabilirsiniz.

Alışveriş yapacağınız web sitesi Verified by Visa® ve MasterCard® SecureCode hizmetlerine dâhil olsun veya olmasın, kart kullanımınız kısıtlanmaz. Bununla birlikte Verified by Visa® ve MasterCard® SecureCode hizmetlerine dâhil olan web sitelerinden yapacağınız alışverişler ekstra güvenli olur.

Bankanız bu hizmetlere dahil ise bankanızın web sitesinden kayıt işlemini gerçekleştirebilirsiniz. Bankanızın web sitesinden bu hizmetlere dahil olup olmadığına dair bilgi alabilirsiniz. Bankanız bu hizmet için kendi markasını da yaratmış olabilir. Bankanızla irtibata geçerek konu ile ilgili bilgi alabilirsiniz. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Page -->
{% endblock %}