{% load static %}
<!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                    <a class="navbar-brand" href="index.html"><img src="{% static "images/logo.png"%} "class="logo" alt="" ></a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item active"><a class="nav-link" href="index.html">Anasayfa</a></li>
                        <li class="nav-item"><a class="nav-link" href="about.html">Hakkımızda</a></li>
                        <li class="dropdown megamenu-fw">
                            <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Menü</a>
                            <ul class="dropdown-menu megamenu-content" role="menu">
                                <li>
                                    <div class="row">
                                        <div class="col-menu col-md-3">
                                            <h6 class="title">Kitaplar</h6>
                                            <div class="content">
                                                <ul class="menu-col">
                                                    <li><a href="shop.html">Roman</a></li>
                                                    <li><a href="shop.html">Çocuk Kitapları</a></li>
                                                    <li><a href="shop.html">Şiir Kitapları</a></li>
                                                    <li><a href="shop.html">e-Kitaplar</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- end col-3 -->
                                        <div class="col-menu col-md-3">
                                            <h6 class="title">Dergiler</h6>
                                            <div class="content">
                                                <ul class="menu-col">
                                                    <li><a href="shop.html">Edebiyat Dergileri</a></li>
                                                    <li><a href="shop.html">Aylık Dergiler</a></li>
                                                    <li><a href="shop.html">Yemek Dergileri</a></li>
                                                    <li><a href="shop.html">Hobi Dergileri</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- end col-3 -->
                                        <div class="col-menu col-md-3">
                                            <h6 class="title">Elektronik</h6>
                                            <div class="content">
                                                <ul class="menu-col">
                                                    <li><a href="shop.html">Kulaklıklar</a></li>
                                                    <li><a href="shop.html">Ev Elektroniği</a></li>
                                                    <li><a href="shop.html">Tabletler ve Çevre Birimleri</a></li>
                                                    <li><a href="shop.html">E-Kitap Okuyucular</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-menu col-md-3">
                                            <h6 class="title">Sınav Kitapları</h6>
                                            <div class="content">
                                                <ul class="menu-col">
                                                    <li><a href="shop.html">ALES</a></li>
                                                    <li><a href="shop.html">TYT-AYT</a></li>
                                                    <li><a href="shop.html">YDS</a></li>
                                                    <li><a href="shop.html">LGS</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- end col-3 -->
                                    </div>
                                    <!-- end row -->
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Profil</a>
                            <ul class="dropdown-menu">
                                <li><a href="cart.html">Sepetim</a></li>
                                <li><a href="checkout.html">Çıkış Yap</a></li>
                                <li><a href="my-account.html">Hesabım</a></li>
                                <li><a href="wishlist.html">Favoriler</a></li>
                                <li><a href="shop-detail.html">Ayrıntı</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="service.html">Referanslar</a></li>
                        <li class="nav-item"><a class="nav-link" href="contact-us.html">İletişim</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                        <li class="side-menu"><a href="#">
						<i class="fa fa-shopping-bag"></i>
                            <span class="badge">3</span>
					</a></li>
                    </ul>
                </div>
                <!-- End Atribute Navigation -->
            </div>

        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->