{% load static %}
<!-- Start Main Top -->
<header class="main-header">
    <!-- Start Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html"><img src="{% static "images/favicon.ico"%} "class="logo" alt="" ></a>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="nav-item active"><a class="nav-link" href="#">Anasayfa</a></li>
                    <li class="nav-item"><a class="nav-link" href="/hakkimizda">Hakkımızda</a></li>
                    <li class="dropdown megamenu-fw">
                        {% if page %}
                            <div class="category-nav">
                        {% else %}
                            <div class="category-nav show-on-click">
                        {% endif %}
                        <span class="category-header">Categories<i class="fa fa-list"></i></span>
                        {% load mptt_tags %}
                        {% recursetree category %}
                            <a href="/category/{{ node.slug }}" class="nav-link dropdown-toggle arrow" {% if not node.is_leaf_node %} data-toggle="dropdown" ARIA-EXPANDED="true" {% endif %}>{{ node.title }}{% if not node.is_leaf_node %}<i class="fa fa-angle-right"></i> {% endif %}</a>
                            <ul class="dropdown-menu megamenu-content" role="menu">
                                <li>
                                    <div class="row">
                                        <div class="col-menu col-md-3">
                                            <div class="content">
                                                {% if not node.is_leaf_node %}
                                                    <ul class="menu-col">
                                                        <li><a href="<a href="/category{{ node.slug }}">{{ children }}</a></li>
                                                    </ul>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        {% endrecursetree %}

                        <!-- end row -->
                    <li class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Profil</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Sepetim</a></li>
                            <li><a href="#">Çıkış Yap</a></li>
                            <li><a href="#">Hesabım</a></li>
                            <li><a href="#">Favoriler</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/referanslar">Referanslar</a></li>
                    <li class="nav-item"><a class="nav-link" href="/iletisim">İletişim</a></li>
                </ul>
            </div>
        </div>    <!-- /.navbar-collapse -->
    </nav>
    <!-- End Navigation -->
</header>
<!-- End Main Top -->