<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>{% block title %}Django E-commerce Sitesi {% endblock %}</title>
    <meta name="keywords" content="{% block keywords %} Anasayfa anahtar kelimeler{% endblock %}">
    <meta name="description" content="{% block description %} Anasayfa kısa açıklamalar{% endblock %}">
    <meta name="author" content="">
    {% load static %}

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static "images/apple-touch-icon.png" %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css"%}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <link rel="stylesheet" href="{% static "css/responsive.css" %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static "css/custom.css" %}">


    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


    {% block head %}

    {% endblock %}
</head>
<body>
{% include 'header.html' %}
{% block sidebar %}{% endblock %}
{% block slider %} {% endblock %}
{% block body %} {% endblock %}

{% block content %}{% endblock %}
{% include 'footer.html' %}
{% block footer %}{% endblock %}
</body>
</html>