{% load static %}
<!-- Start Atribute Navigation -->
<div class="attr-nav">
    <div class="container">
    <div id="responsive-nav">
            <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
            <li class="dropdown-menu"><a href="#">
            {% if page %}
                <div class="category-nav">
            {% else %}
                <div class="category-nav show-on-click">
            {% endif %}
                <span class="dropdown">Categories<i class="dropdown-toggle"></i></span>
                {% load mptt_tags %}
                {% recursetree category %}
                    <li class="dropdown side-dropdown">
                    <a href="/category/ {{node.slug }}" class="dropdown-toggle" {% if not node.is_leaf_node %} data-toggle="dropdown" aria-expanded="true" {% endif %}>{{ node.title }}{% if not node.is_leaf_node %} <i class="fa fa-times"></i>{% endif %}</a>
                    <div class="custom-menu">
                        <div class="row">
                            <div class="col-md-4">
                                {% if not node.is_leaf_node %}
                                    <ul class="list-links ">
                                        <li><a href="/category/{{ node.slug }}">{{ children }}</a></li>
                                    </ul>
                                {% endif %}
                                <hr class="hidden-md hidden-lg">
                            </div>
                        </div>
                    </div>
                    </li>
                {% endrecursetree %}
            </li>
    </div>
    </div>
</div>