{% extends "homebase.html" %}

{% block title %}{{profile.user_name}}Profil{% endblock %}
{% block keywords %}{{setting.keywords }}{% endblock %}
{% block description %}{{setting.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}
{% block sidebar %}{% include "sidebar.html" %}{% endblock %}

{% block content %}
    <!-- Start All BREADCRUMB Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>User Profil</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                        <li class="breadcrumb-item active" href="/user">User Profil </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

    <div class="contact-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <div class="contact-info-left">
                        <h4 class="title">Profilim</h4>
                        {% include "user_panel.html" %}
                    </div>
                </div>


                <div class="col-md-9 single-widget ">
                    <div class="text-uppercase"><br><h2> Change Password </h2></div>
                    <hr>

                    {% if messages %}
                        {% for message in messages %}
                            <div style="color: #d43f3a; font-size: medium">
                                {{ message|safe }}
                            </div>
                        {% endfor %}
                    {% endif %}


                    <form method="POST">
                        {% csrf_token %}

                        {% for field in form %}
                            <p>
                                {{ field.label_tag }}<br>

                                {{ field }}

                                {% if field.help_text %}
                                    <small style="color: grey">{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </p>
                        {% endfor %}

                        <button class="genric-btn success radius text-uppercase" type="submit"> Save Changes</button>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <!-- End Cart -->
{% endblock %}