{% extends "homebase.html" %}

{% block title %}Order detail{{% endblock %}
{% block keywords %}{{setting.keywords }}{% endblock %}
{% block description %}{{setting.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}
{% block sidebar %}{% include "sidebar.html" %}{% endblock %}

{% block content %}
    <!-- Start All BREADCRUMB Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>User Profil</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                        <li class="breadcrumb-item active" href="/user/order">Order detail </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <!-- Start blog-posts Area -->
    <section class="section-gap">
        <!--- area --->
        <div class="contact-box-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-12">

                        <div class="contact-info-left">
                            {% include "user_panel.html" %}
                        </div>
                    </div>

                    <div class="col-lg-8 col-sm-12">
                        <div class="contact-form-right">

                            <div class="section-title">
                                <br><h2>Order Shipping Information</h2>
                            </div>
                            <table class="table">

                                <tr>
                                    <th class="text-left">Name Surname</th>
                                    <td class="text-left">{{ user.username }}</td>
                                </tr>
                                <tr>
                                    <th class="text-left">Address</th>
                                    <td class="text-left">{{ order.address}}</td>
                                </tr>
                                <tr>
                                    <th class="text-left">City</th>
                                    <td class="text-left">{{ order.city}}</td>
                                </tr>
                                <tr>
                                    <th class="text-left">Status</th>
                                    <td class="text-left">{{ order.status}}</td>
                                </tr>
                                <tr>
                                    <th class="text-left">Shipping Information</th>
                                    <td class="text-left">{{ order.adminnote}}</td>
                                </tr>

                            </table>
                            <div class="section-title">
                                <br><h2>ORDER Item Detail </h2>
                            </div>

                            <table class="table">

                                <tr>
                                    <th class="text-left">Product Image</th>
                                    <th class="text-left">Product Name</th>
                                    <th class="text-left">Price </th>
                                    <th class="text-left">Quantity</th>
                                    <th class="text-left">Amount</th>
                                </tr>
                                {% for rs in orderitems %}
                                    <tr>
                                        <td class="text-left">
                                            <a href="/product/{{ rs.product_id }}/{{ rs.product.slug }}">
                                                <img src="{{ rs.product.image.url }}" height="80px">
                                            </a>
                                        </td>
                                        <td class="text-left">{{ rs.product.title }}</td>
                                        <td class="text-left">{{ rs.price }}</td>
                                        <td class="text-left">{{ rs.quantity }}</td>
                                        <td class="text-left">{{ rs.amount }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- End Cart -->
{% endblock %}