{% extends "homebase.html" %}

{% block title %}Order List{% endblock %}
{% block keywords %}{{setting.keywords }}{% endblock %}
{% block description %}{{setting.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}
{% block sidebar %}{% include "sidebar.html" %}{% endblock %}

{% block content %}
    <!-- Start All BREADCRUMB Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>User Profil</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                        <li class="breadcrumb-item active" href="/user/order">Order List </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <!--- area --->
    <div class="contact-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <div class="contact-info-left">
                        <h4 class="title">Profil</h4>
                        {% include "user_panel.html" %}
                    </div>
                </div>


                <div class="col-lg-8 col-sm-12">
                    <div class="contact-form-right">
                        <div class="billing-details">
                            <div class="section-title">
                                <br><h2>User Information</h2>
                            </div>


                            <table class="table">

                                <tr>
                                    <th class="text-left">First Name</th>
                                    <th class="text-left">Last Name </th>
                                    <th class="text-left">Total</th>
                                    <th class="text-left">Status</th>
                                    <th class="text-left">Date</th>
                                    <th class="text-left">Detail</th>
                                </tr>
                                {% for rs in orders %}
                                    <tr>
                                        <td class="text-left">{{ rs.first_name }}</td>
                                        <td class="text-left">{{ rs.last_name }}</td>
                                        <td class="text-left">{{ rs.total }}</td>
                                        <td class="text-left">{{ rs.status }}</td>
                                        <td class="text-left">{{ rs.date }}</td>
                                        <td class="text-left"><a class="genric-btn danger radius text-uppercase" href="/user/orderdetail/{{ rs.id }}{{ rs.slug }}">Detay</a></td>
                                    </tr>
                                {% endfor %}

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End Cart -->
{% endblock %}