{% extends "homebase.html" %}
{% block title %}Sipariş Kartı {% endblock %}
{% block keywords %}{{category.keywords }}{% endblock %}
{% block description %}{{category.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}
{% block sidebar %}{% include "sidebar.html" %}{% endblock %}

{% block content %}
    <!-- Start All BREADCRUMB Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2></h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                        <li class="breadcrumb-item active">Sipariş Kartım </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->
<div class="section">

        <div class="container">
            <div class="row">
                <strong class="col-md-12">


                    Sipariş Alındı ! <br>
                    Thank you!<br>
                    sipariş code : {{ ordercode }} <br>
                    İyi Alışverişler :)
                </strong>

            </div>
        </div>
</div>


{% endblock %}