{% extends "homebase.html" %}
{% block title %}Order Form {% endblock %}
{% block keywords %}{{category.keywords }}{% endblock %}
{% block description %}{{category.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}
{% block sidebar %}{% include "sidebar.html" %}{% endblock %}

{% block content %}
    <!-- Start All BREADCRUMB Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2></h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                        <li class="breadcrumb-item active">Order Form </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->
    {%if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <!-- Start Cart  -->
    <div class="cart-box-main">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-6 mb-3">
                    <div class="checkout-address">
                        <div class="title-left">
                            <h3>Billing address</h3>
                        </div>
                        <form class="needs-validation" novalidate method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="{{ user.first_name }}">Ad *</label>
                                    <input type="text" name="first_name" class="form-control" id="firstName" placeholder="{{ user.first_name }}" value="">
                                    <div class="invalid-feedback"> Valid first name is required. </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="{{ user.last_name }}">Soyad *</label>
                                    <input type="text" name="last_name" class="form-control" id="lastName" placeholder="{{user.last_name }}" value="">
                                    <div class="invalid-feedback"> Valid last name is required. </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for={{ profile.address }}>Address *</label>
                                <input type="text"  name="address" class="form-control" id="address2" placeholder="{{ profile.address }}"> </div>
                            <div class="row">
                                <div class="col-md-5 mb-3">
                                    <label for="{{ profile.city }}">City</label>
                                    <select class="wide w-100" id="city" name="city">
                                        <option value="Choose..." data-display="Select">Seçiniz...</option>
                                        <option value="İstanbul ">İstanbul</option>
                                        <option value="Ankara ">Ankara</option>
                                        <option value="Malatya ">Malatya</option>
                                        <option value="Karabük ">Karabük</option>
                                        <option value="Bolu">Bolu</option>
                                    </select>
                                </div>
                            </div>
                            <hr class="mb-4">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="same-address">
                                <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="save-info">
                                <label class="custom-control-label" for="save-info">Save this information for next time</label>
                            </div>
                            <hr class="mb-4">
                            <div class="title"> <span>Payment</span> </div>
                            <div class="d-block my-3">
                                <div class="custom-control custom-radio">
                                    <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                                    <label class="custom-control-label" for="credit">Credit card</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                                    <label class="custom-control-label" for="debit">Debit card</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
                                    <label class="custom-control-label" for="paypal">Paypal</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="cc-name">Name on card</label>
                                    <input type="text" class="form-control" id="cc-name" placeholder="" required> <small class="text-muted">Full name as displayed on card</small>
                                    <div class="invalid-feedback"> Name on card is required </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="cc-number">Credit card number</label>
                                    <input type="text" class="form-control" id="cc-number" placeholder="" required>
                                    <div class="invalid-feedback"> Credit card number is required </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    <label for="cc-expiration">Expiration</label>
                                    <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                                    <div class="invalid-feedback"> Expiration date required </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="cc-expiration">CVV</label>
                                    <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                                    <div class="invalid-feedback"> Security code required </div>
                                </div>
                            </div>
                            <hr class="mb-1">
                            <div class="row">
                                <div class="col-sm-6 col-lg-6 mb-3">
                                    <div class="row">
                                        <div class="col-md-12 col-lg-12">
                                            <div class="odr-box">
                                                <div class="title-left">
                                                    <h3>Shopping cart</h3>
                                                </div>
                                                {% for rs in schopcart %}
                                                    <tr>
                                                        <td class="thumbnail-img">
                                                            <a href="#"><img class="img-fluid" src="{{ rs.product.image.url}}" alt="" /></a>
                                                        </td>
                                                        <td class="name-pr">
                                                            <a href="#">{{ rs.product }}</a>
                                                        </td>
                                                        <td class="price-pr">
                                                            <p><strong>${{rs.product.price }}</strong></p>
                                                        </td>
                                                        <td class="quantity-box"><input type="number" size="4" value="1" min="0" step="1" class="c-input-text qty text">{{ rs.quantity }}</td>
                                                        <td class="total-pr">
                                                            <p>{{rs.amount}}</p>
                                                        </td>
                                                        <td class="remove-pr">
                                                            <a href="/order/deletefromcart/{{ rs.id }}" on_click="return confirm('Silmek istediğinizden emin misiniz?"><i class="fas fa-times"></i></a>
                                                        </td>
                                                    </tr>

                                                {% endfor %}

                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-12">
                                            <div class="order-box">
                                                <div class="title-left">
                                                    <h3>Your order</h3>
                                                </div>
                                                <div class="d-flex">
                                                    <div class="font-weight-bold">Product</div>
                                                    <div class="ml-auto font-weight-bold">Total</div>
                                                </div>
                                                <hr class="my-1">
                                                <div class="d-flex">
                                                    <h4>Sub Total</h4>
                                                    <div class="ml-auto font-weight-bold"> $ {{ total }} </div>
                                                </div>
                                                <div class="d-flex">
                                                    <h4>Discount</h4>
                                                    <div class="ml-auto font-weight-bold"> $ {{ total }} </div>
                                                </div>
                                                <div class="d-flex">
                                                    <h4>Shipping Cost</h4>
                                                    <div class="ml-auto font-weight-bold"> Free </div>
                                                </div>
                                                <hr>
                                                <div class="d-flex gr-total">
                                                    <h5>Grand Total</h5>
                                                    <div class="ml-auto h5"> $ {{ total }} </div>
                                                </div>
                                                <hr> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="submit"> Place Order</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}